/* font used */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v24/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTQ3jw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {
    --top-height: 44px;         /*height of nav bar (see Nav.css)*/
    --color: lightgrey;     /*standard color*/
}


.icon {
    color: black;
}

.title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    padding: 4px;
}

/* to have margin to Nav to bar */
.margin-top {
    margin-top: var(--top-height);
}